<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Colorlib Templates">
    <meta name="author" content="Colorlib">
    <meta name="keywords" content="Colorlib Templates">

    <!-- Title Page-->
    <title>Edit DB Details</title>

    <!-- Icons font CSS-->
    <link href="vendor/mdi-font/css/material-design-iconic-font.min.css" rel="stylesheet" media="all">
    <link href="vendor/font-awesome-4.7/css/font-awesome.min.css" rel="stylesheet" media="all">
    <!-- Font special for pages-->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i" rel="stylesheet">

    <!-- Vendor CSS-->
    <link href="../add_dbvendor/select2/select2.min.css" rel="stylesheet" media="all">
    <link href="../add_dbvendor/datepicker/daterangepicker.css" rel="stylesheet" media="all">

    <!-- Main CSS-->
    <link href="../add_db/css/main.css" rel="stylesheet" media="all">
</head>

<body>
    <div class="page-wrapper bg-gra-03 p-t-45 p-b-50">
        <div class="wrapper wrapper--w790">
            <div class="card card-5">
                <div class="card-heading">
                    <h2 class="title">Edit Details of DB {{id}}</h2>
                </div>
                {{#each results}}
                <div class="card-body">
                    <form method="POST">
                        <b><i><h3 style="text-align: center; color: grey;">For each field, type a new value. If no new value is needed, then type the same value shown in the placeholder</h3></i></b>
                        <br><br>

                        <div class="form-row">
                            <div class="name">DB ID</div>
                            <div class="value">
                                <div class="input-group">
                                    <input class="input--style-5" type="text" placeholder="{{db_id}}">
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="name">DB ENV</div>
                            <div class="value">
                                <div class="input-group">
                                    <input class="input--style-5" type="text" placeholder="{{db_env}}">
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="name">MONTH-YEAR ADDED</div>
                            <div class="value">
                                <div class="input-group">
                                    <input class="input--style-5" type="text" placeholder="{{mon_year_added}}">
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="name">RFI_RFC#</div>
                            <div class="value">
                                <div class="input-group">
                                    <input class="input--style-5" type="text" placeholder="{{rfi_rfc}}">
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="name">COMPANY</div>
                            <div class="value">
                                <div class="input-group">
                                    <input class="input--style-5" type="text" placeholder="{{company}}">
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="name">BUSINESS LINE</div>
                            <div class="value">
                                <div class="input-group">
                                    <input class="input--style-5" type="text" placeholder="{{business_line}}">
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="name">HOST</div>
                            <div class="value">
                                <div class="input-group">
                                    <input class="input--style-5" type="text" placeholder="{{host}}">
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="name">OS ID</div>
                            <div class="value">
                                <div class="input-group">
                                    <input class="input--style-5" type="text" placeholder="{{os_id}}">
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="name">DBMS TYPE</div>
                            <div class="value">
                                <div class="input-group">
                                    <input class="input--style-5" type="text" placeholder="{{dbms_type}}">
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="name">DB PORT</div>
                            <div class="value">
                                <div class="input-group">
                                    <input class="input--style-5" type="text" placeholder="{{db_port}}">
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="name">CLUSTER ID</div>
                            <div class="value">
                                <div class="input-group">
                                    <input class="input--style-5" type="text" placeholder="{{cluster_id}}">
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="name">DBA SUPPORT TEAM</div>
                            <div class="value">
                                <div class="input-group">
                                    <input class="input--style-5" type="text" placeholder="{{dba_support_team}}">
                                </div>
                            </div>
                        </div>
                        <div class="form-row m-b-55">
                            <div class="name">CREATION DETAILS</div>
                            <div class="value">
                                <div class="row row-space">
                                    <div class="col-2">
                                        <div class="input-group-desc">
                                            <input class="input--style-5" type="text" placeholder="{{created_by}}">
                                            <label class="label--desc">Created By</label>
                                        </div>
                                    </div>
                                    <div class="col-2">
                                        <div class="input-group-desc">
                                            <input class="input--style-5" type="date" placeholder="{{created_date}}">
                                            <label class="label--desc">Created Date</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-row m-b-55">
                            <div class="name">UPDATE DETAILS</div>
                            <div class="value">
                                <div class="row row-space">
                                    <div class="col-2">
                                        <div class="input-group-desc">
                                            <input class="input--style-5" type="text" placeholder="{{updated_by}}">
                                            <label class="label--desc">Updated By</label>
                                        </div>
                                    </div>
                                    <div class="col-2">
                                        <div class="input-group-desc">
                                            <input class="input--style-5" type="date" placeholder="{{updated_date}}">
                                            <label class="label--desc">Updated Date</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="name">COMMENTS</div>
                            <div class="value">
                                <div class="input-group">
                                    <input class="input--style-5" type="text" placeholder="{{comments}}">
                                    <label class="label--desc">Maximum 255 characters</label>
                                </div>
                            </div>
                        </div>
                        <div>
                            <button class="btn btn--radius-2 btn--red" type="submit">Update DB Details</button>
                        </div>
                    </form>
                </div>
                {{/each}}
            </div>
        </div>
    </div>

    <!-- Jquery JS-->
    <script src="../add_dbvendor/jquery/jquery.min.js"></script>
    <!-- Vendor JS-->
    <script src="../add_dbvendor/select2/select2.min.js"></script>
    <script src="../add_dbvendor/datepicker/moment.min.js"></script>
    <script src="../add_dbvendor/datepicker/daterangepicker.js"></script>

    <!-- Main JS-->
    <script src="../add_dbjs/global.js"></script>

</body>

</html>
<!-- end document-->