<!doctype html>
<html lang="en">
  <head>
  	<title>Search Results</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<link href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,700' rel='stylesheet' type='text/css'>

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	
	<link rel="stylesheet" href="../table/css/style.css">

	</head>
	<body>
	<section class="ftco-section">
		<div class="container">

			{{#if fail}}
				<div class="row justify-content-center">
					<div class="col-md-6 text-center mb-5">
						<div class="alert alert-danger" role="alert">
							<h2 class="heading-section">No DB</h2>
						</div>
					</div>
				</div>
			{{/if}}

			{{#if results}}
			<div class="row justify-content-center">
				<div class="col-md-6 text-center mb-5">
					<div class="alert alert-success" role="alert">
						<h2 class="heading-section">Search Results</h2>
					</div>
				</div>
			</div>
			{{/if}}

			<div class="row">
				<div class="col-md-12">
					<h4 class="text-center mb-4"><a href="/">Home</a> | <a href="/search-db-details">Back to Search</a> | <a href="/view-db-details">View All Data </a> |<a href="/logout">Logout</a></h4>
					<div class="table-wrap">
						<table class="table">
					    <thead class="thead-primary">
					      <tr>
							<th scope="col">DB_ID</th>
							<th scope="col">DB_Env</th>
							<th scope="col">Mon/Yr Added</th>
							<th scope="col">RFI_RFC#</th>
							<th scope="col">Company</th>
							<th scope="col">LOB</th>
							<th scope="col">Host</th>
							<th scope="col">OS_ID</th>
							<th scope="col">DBMS_Type</th>
							<th scope="col">DB_Port</th>
							<th scope="col">Cluster_ID</th>
							<th scope="col">DBA_Support_Team</th>
							<th scope="col">Created_By</th>
							<th scope="col">Created_Date</th>
							<th scope="col">Updated_Date</th>
					      </tr>
					    </thead>
					    <tbody>
							{{#each results}}
					      <tr>
							<td scope="col">{{db_id}}</td>
							<td scope="col">{{db_env}}</td>
							<td scope="col">{{mon_year_added}}</td>
							<td scope="col">{{rfi_rfc}}</td>
							<td scope="col">{{company}}</td>
							<td scope="col">{{business_line}}</td>
							<td scope="col">{{host}}</td>
							<td scope="col">{{os_id}}</td>
							<td scope="col">{{dbms_type}}</td>
							<td scope="col">{{db_port}}</td>
							<td scope="col">{{cluster_id}}</td>
							<td scope="col">{{dba_support_team}}</td>
							<td scope="col">{{created_by}}</td>
							<td scope="col">{{created_date}}</td>
							<td scope="col">{{updated_date}}</td>
					      </tr>
					      {{/each}}
					    </tbody>
					  </table>
					</div>
				</div>
			</div>
			{{#if message}}
				<div class="card mx-auto">
					<div class="card-body">
					<h1>There are no database details added!</h1>
					<a href="/add-db-details" class="btn btn-success btn-block">Add a DB!</a>
				</div>
			{{/if}}
		</div>
	</section>

	<script src="../table/js/jquery.min.js"></script>
  <script src="../table/js/popper.js"></script>
  <script src="../table/js/bootstrap.min.js"></script>
  <script src="../table/js/main.js"></script>

	</body>
</html>

